#======= Jets ===========
Jet:Enable  1 #
Jet:Algorithm   1 #  {0:"kt", 1:"antikt", 2:"siscone", 3:"recomE", 4:"recomB","cdfmidpoint","jade","d0run2cone"}
Jet:Radius   0.4
Jet:JetPtMin  5.0 # jet momentum cut
Jet:ParticlePtMin 0.150 # particle momentum cut for inputs for jet reco
Jet:UseArea   1 #
Jet:Trimming  0 #
Jet:EtaRange 0.5
Jet:PhiRange 1.855 2.685
Jet:PtBins              10 20 30 40 60 80 100 150 500
############################################

